/* ---- CSS Demo ---- */


/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}



/* ----- Global Styles ----- */
        /* fonts.google.com find a find to use*/

body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Merriweather", serif;
}

/* --- Generate a color scheme for the document --- */
/* color.adobe.com */
header.primary{
    background-color: #5A5F66;
    color:#ffffff;
    text-align:center;
    text-shadow:2px 2px #000000;
    
    padding-top:20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*short hand, single value for all padding*/
    padding:20px;

    /* T R B L*/
    padding: 20px 40px 20px 40px;

    /*Two value Top/Bottom / L/R*/
    padding: 20px 40px;
}

/* overqualified way to select an element
header.primary .hgroup h1{
   
}
*/

header.primary h1{
    font-size:2.4rem;
    /*background-color:red;*/
    margin:20px 0 0;
}

header.primary h1 a{
    color:white;
    text-decoration: none;
}

header.primary h2{
    /*background-color:red;*/
    font-size: 1.4rem;
}
header.primary nav{
    max-width:900px;
   /* background-color: red;*/
    margin: 20px auto;
}

header.primary ul{
    padding:10px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header.primary ul li{
    list-style-type: none;
    
}

header.primary nav a{
    color:#ffffff;
    text-decoration: none;
    background-color: #000000;
    background-color:rgba(0,0,0,.4);
    padding: 5px 10px;
    border-radius:20px;

    /*border values: thickness, stroke, color*/
    border:2px solid #6E8EBB;

    /*
    opacity:.25;
    */
    transition: .4s;
}

header.primary nav a:hover{
    background-color: rgba(0,0,0,.8);
    text-decoration: underline;
}