/* 
Color Theme
*/

/* ---------Box Sizing ------*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* --Utility Styles --*/




/* -- Responsive Images --*/
img{
    max-width:100%;
    height:auto;
}

/*Global Styles*/

body{
    margin:0;
    
    background-color:blue;
}

/*--content--*/

header.primary{
    background-color: cyan;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px black;
    padding:6em 2em;
    position: relative;
}

header .primary h1{
    position:relative;
    font-size: 3.5rem;
}

header.primary h1 a{
    display:block;
    width:500px;
    height:60px;
    margin:0 auto;
    
    background:url("..//img/SpaceX-Logo.png");
    background-size: contain;
    background-repeat: no-repeat;

    text-indent:100%;
    text-wrap: nowrap;
    overflow: hidden;

}

header.primary h2{
    
}
header.primary nav{
   background-color:yellow;
}
header.primary nav ul{
    margin:auto;
    display:flex;
    flex-direction:row;
    list-style-type: none;
    justify-content:space-around;    
}
header.primary nav li{
    background-color:red;
    list-style-type: none;
    padding:0;
    width:20%;
}
header.primary nav a:link, header.primary nav a:visited{
    color:white;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(142,166,184,40%);

}
